body{
    font-size: 16px;
    font-family: Avenir-Next,Roboto,sans-serif;
     padding: 0;
     margin: 0;
     overflow-x: hidden;
}
a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
    padding: 16px;
    text-align: center;
}

/* nav */
header nav{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 8px; 
}

#navs ul{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    list-style: none;
    padding-left: 0;
}
#navs li{
    margin: 5px 20px;
}
#apply{
    background-color: rgb(175, 92, 25);
    color: white;
    font-weight: 300;
    padding: 8px 48px;
}

/* homepage section */
#homepage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
    padding-left: 180px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(' https://i.imgur.com/ksqOx5F.jpg');
    color: white;
    background-size: cover;
    background-position:right;
    width: 100vw;
    height:auto;
}
#homepage h1{
    width: 80vw;
    font-size:90px;
}
#homepage h3{
    width: 80vw;
    margin-top: -40px;
    font-size: 33px;
}
.homebtn{
    line-height: 2;
    color: white;
    height: auto;
    font-size: 1.4rem;
    width: 20%;
    text-align: center;
    padding: 9px;
    border:2px solid white;
    margin: 10px;
    min-width: 250px;
    background-color: transparent;
}
#apply-here{
    background: rgb(0, 191, 255);
    padding: 11px;
    border: 0;

}

#learnmore{
background-color: white;
min-width:350px;
color: black;
margin-top: 20px;
width: 30vw;
padding: 19px;
border-radius: 15px;
}
#homepage a{
    color: black;
    font-size: 18px;
}

/* media query */
@media only screen and (max-width: 600px) {
#homepage{
    padding-left: 20px;
}
#homepage h1{
font-size: 70px;
}
#homepage h3{
    font-size: 20px;
}
h2{
    font-size: 75px;
}
#navs ul{
    margin-top: 8px;
}
#navs li{
    font-size: smaller;
    margin: 2px 5px;
}

    #apply{
        font-weight: 200;
        padding: 4px 28px;
    }
}


/* Q and a secion */
#question-container{
    margin: auto;
    max-width: 1200px;
}
#question{
    background-color: #4992ca;
    color: white;
    max-width: 1000vw;
    height: auto;
    margin: auto;
    padding: 50px;
  
}
#question ul{
    padding-left: 100px;
}
#question h2{
    text-align: center;
    font-size: 45px;
    margin: 0;
}
#question h4{
font-size: 21px;
margin-bottom: 5px;
}


/* pocket monster section */
.pocket{
    background-color: #4992ca;
    padding-bottom: 180px;
    color: white;
    height: auto;
    padding-bottom: 18px;
    height: auto;
    width: 100vw;
}


h2{
    font-size: 45px;
}
h4{
    font-size: 30px;
    margin-bottom: 0;
}

.pocket p{
    padding: 0 5px;
    text-align: center;
}
.pokemontype >div{
margin: 10px 5px;
max-width: 280px;
}
.pokemontype{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

/* statistics */
.statistics{
    height: auto;
    width: 100vw;
    padding: 50px 0;
}
.statisticstype p{
    padding: 0 25px;
    font-size:1.2rem;
}
.statisticstype >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding-bottom: 50px;
    }
.statisticstype{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.statisticstype img{
    height: 200px;
    width: 250px;
    
}

/* pokemon year section */
.year{
    height: auto;
    width: 100vw;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.year-container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.year-img img{
    border-radius: 50%;
    height: 140px;
    width: 150px;
}
.year-container div{
margin: 7px 28px;
min-width: 10px;
padding: 5px 0;
}
.year-para{
    text-align: left;
}
.trainer >.year-para{
    max-width: 700px;
}


/* pokemon battles */

table,th,td{
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 15px;
    /* padding-right:30px ; */
    text-align: left;
    color: #8a8a8a;
    font-weight: 500;
}
th{
    font-weight: 700;
    color: black;
}
.battles{
    display: flex;
    letter-spacing: 1px;
    text-align: left;
    flex-flow: row wrap;
}
.battle1{
    flex:1;
    margin: 0 23px;
    margin-top: -15px;

}
.battle2{
    flex:2 2 150px;
}

/* card section*/
#card-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
    padding: 40px 0;
}
.card{
    border-top: 15px solid #4992ca ;
    max-width: 200px;
    background-color: rgb(245, 243, 243);
}

.card-title{
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: white;
}


/* generation cards sections */
.card2-container{
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    padding: 16px;
    text-align: center;
}
.card2{
    border-top: 15px solid #4992ca ;
    max-width: 400px;
    margin: 10px;
    background-color: rgb(245, 243, 243);
}
.card2-title{
    border: 1px solid lightgrey;
    padding: 40px;
    background-color: white;
    text-align: left;
}
/* input section */
#input-section{
    background-color:#424242;
    color: white;
    width: 100vw;
    height: auto;
    padding: 2px 0px;
    text-align: center;
    font-size: 2px;
}
#input-section h1{
    font-size: 50px;
}


#input-section a{
    border: 3px solid white;
    font-size: 1.6rem;
    padding: 8px 75px;
}
/* Game section */
#game{
    height: 200px;
    padding-bottom: 18px;
    height: auto;
    width: 100vw;
}
#game h2{
    font-size: 3rem;
    color: #424242;
}
.gametype >div{
    margin: 10px 5px;
    max-width: 280px;
    }
    .gametype{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #game button{
        border: 0;
        padding: 15px 40px;
        font-size: 20px;
        background-color: #4992ca;
        color: white;
    }

/* Designers */
.designers{
    background-color: #4992ca;
    color: white;
    height: auto;
    padding-bottom: 18px;
    height: auto;
    width: 100vw;;
}
.designers h2{
    font-size: 3rem;
}
.designertype >div{
    margin: 10px 5px;
    max-width: 280px;
    }
.designertype img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.designertype{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* Logos */
#logos-header{
text-align: center;
}
#logos img{
    display: inline-flex;
    justify-content: space-between;
    flex-flow: row wrap;   
    margin:2px 40px;
    padding: 5px 40px;
    height: 40px;
    width: 120px;
}
/* know more section */
.know-more{
    background-color: #4992ca;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    padding: 30px 0;
}
/* .know-more h2{
    padding: 24px 0px;
} */


.btn{
    background: transparent;
    color: white;
    padding: 10px 70px;
    border: 2px solid white;
}
.btn:hover{
background-color:white;
color: #4992ca;
}
/* footer */

footer{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    padding-top: 40px;
    text-align: center;
}
footer h3{
    color: grey;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    line-height: 2;
}
footer a:hover{
    font-weight: bold;
}
footer ul{
   
    list-style: none;
    padding-left: 0;
    text-align: center;
}
footer nav{
    min-width: 18ch;
}
footer section{
    flex-wrap: row wrap;
    padding-top:60px 0;
    margin:  0px 25px;
}
#social i{
    margin: 15px 8px;
    padding: 12px 8px;
}